# directories
.vs/
bin/
bin-int/
GameEngine/generated
USG-Editor/generated
projects/NewProject/generated
__pycache__

vendor/dxc
vendor/pix
vendor/Compiler
vendor/python
vendor/premake

dxcompiler.dll
dxil.dll

*.sln
*.vsxproj*
*.vcxproj*
premake5.lua
startup.json
runtime.json

*.wpix
*.aps
*.reflected
