# directories
.vs/
bin/
bin-int/
GameEngine/generated
USG-Editor/generated
projects/NewProject/generated
__pycache__

GameEngine/vendor/dxc
GameEngine/vendor/pix
Directory.build.props
vendor/Compiler
vendor/python
vendor/premake/premake5.exe

dxcompiler.dll
dxil.dll

*.sln
*.vsxproj*
*.vcxproj*
premake5.lua
startup.json
runtime.json

*.wpix
*.aps
*.reflected
