# directories
.vs/
bin/
bin-int/
Sandbox/*.json
GameEngine/generated

GameEngine/vendor/dxc
Directory.build.props
vendor/Compiler

*.sln
*.vsxproj*
*.vcxproj*
USG-Editor/startup.json
USG-Editor/runtime.json
